[submodule "Tail\\vendor\\glfw"]
	path = Tail\\vendor\\glfw
	url = https://github.com/HyryaRoman/glfw
[submodule "Tail\\vendor\\imgui"]
	path = Tail\\vendor\\imgui
	url = https://github.com/HyryaRoman/imgui
